/* Container chính */
.trending-container {
  width: 100%;
  max-width: 800px; /* Giới hạn chiều rộng */
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.trending-title {
  display: inline-block; /* Chỉ bao quanh nội dung chữ */
  font-size: 36px; 
  font-family: "Roboto", Arial, sans-serif;
  color: #017acd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.trending-title:hover {
  color: #ff9f43; 
  transition: 0.1s ease-in-out; 
  text-decoration: underline;
  cursor: pointer;
}

/* Word Cloud */
.wordcloud-container {
  padding: 15px;
  background-color: var(--background-color);
  border-radius: 10px; /* Bo góc mềm mại */
  display: flex;
  justify-content: center;
  align-items: center;
}

