.trending-wordcloud {
  margin: 5px;
}

.trending-title {
  display: inline-block; /* Chỉ bao quanh nội dung chữ */
  font-size: 36px; 
  font-family: "Roboto", Arial, sans-serif;
  color: #017acd;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.trending-title:hover {
  color: #ff9f43; 
  transition: 0.1s ease-in-out; 
  text-decoration: underline;
  cursor: pointer;
}

.wordcloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wordcloud-item {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.wordcloud-item:hover {
  transform: scale(1.2);
  text-decoration: underline;
}
