.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c3e50;
    border-bottom: 1px solid #ddd;
  }
  
  .header h1 {
    font-size: 24px;
    color: white;
  }

  .header-title {
    text-align: center;
    color: white;
    margin-top: 17px;
  }
  
  .header-title h1 {
    margin: 0;
  }
  
  .header-title .sub-title {
    font-size: 16px;
    color: #ccc;
    margin: 0;
    font-style: italic;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
  }
  
  .search-bar input[type="text"] {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-right: 50px; /* Để chừa không gian cho nút */
  }
  
  .search-bar input[type="text"]:focus {
    border-color: #007bff;
  }
  
  .search-bar button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
  }
  
  .search-bar button img {
    width: 24px;
    height: 24px;
  }
  
  .search-bar button:focus img {
    filter: drop-shadow(0px 0px 5px #007bff);
  }
  
  .header h1:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .second-header {
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  
  .header .date {
    font-size: 24px;
    color: white;
    margin-left: 2%;
  }
  
.nav {
  position: relative;
}

.menu-wrapper {
  position: relative;
  display: inline-block;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: white;
}

/* Ẩn menu con mặc định */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -4050%;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: 5px;
  width: 4000%;
  height: 200%;
}

/* Hiển thị menu khi hover */
.menu-wrapper .dropdown-menu {
  display: block;
}

/* Style cho các mục trong menu con */
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 15px 0;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #444;
  border-radius: 3px;
}

.menu-icon-image {
  width: 24px; /* Điều chỉnh kích thước icon */
  height: 24px;
  cursor: pointer;
  margin-top: 6px;
}

  